@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	padding-top: 2rem;
	background-color: #f5c939;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
}

header {
	background-color: #4786b9;
	padding: 1rem;
	color: #fff;
}

main {
	margin: auto;
	padding: 1rem;
}

h1,
.btn {
	text-align: center;
}

#btn-translate,
#input-text {
	font-family: 'Poppins', sans-serif;
}

#btn-translate {
	background-color: #4786b9;
	color: #fff;
	cursor: pointer;
	border-radius: 20px;
	font-weight: 500;
	border-style: none;
	padding: 1rem 2rem;
	margin: 1rem 0 1rem 0;
}

#btn-translate:hover {
	opacity: 0.9;
}

#input-text {
	width: 100%;
	min-height: 15vh;
	margin-top: 1.5rem;
	font-size: 1.5rem;
	padding: 1rem;
	border-radius: 20px;
	border-style: none;
}

.translated-text h3 {
	color: #333331;
}

#output-text {
	width: 100%;
	padding: 1rem;
	background-color: #fff;
	color: black;
	min-height: 15vh;
	font-size: 1.5rem;
	border-style: none;
	border-radius: 20px;
}

@media only screen and (min-width: 650px) {
	main {
		width: 600px;
	}
}
